.success {
  color: rgba(0, 0, 0, 0.65);

  & .header {
    height: 70px;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    margin-bottom: 40px;
    z-index: 22;

    & .middle {
      min-width: 1200px;
      width: 95%;

      & .ac-name > span {
        font-size: 26px;
        font-weight: 550;
        color: #34495e;
      }

      & .back {
        width: 116px;
        height: 35px;
        border-radius: 6px;
        border: 1px solid #d9d9d9;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        & > span {
          font-size: 16px;
        }

        &:hover {
          color: #40a9ff;
          border-color: #40a9ff;
        }
      }
    }
  }

  & .main {
    position: relative;
    margin: auto;
    width: 960px;
    z-index: 30;
    margin-bottom: 30px;

    & .save-wrap {
      position: relative;
      width: 320px;
      height: 320px;
      background-color: #fff;
      box-shadow: rgba(0, 21, 41, 0.12) 0 1px 2px;
      border-radius: 3px;
      margin: auto;

      & .save-box {
        width: 200px;
        position: relative;

        & .qr-code {
          width: 100%;
          height: 200px;
          transform: scale(1.15);
          background-image: url('../../assets/code.png');
          margin-bottom: 25px;
        }

        & .save-btn {
          position: relative;
          width: 100%;
          height: 45px;
          border-radius: 4px;
          background: $info;
          color: #fff;
          font-size: 20px;
          letter-spacing: 2px;
          opacity: 0.6;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          & > span {
            white-space: nowrap;
            pointer-events: none;
          }

          & > a {
            width: 100%;
            height: 100%;
            display: block;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    & .fail {
      width: 100%;
      min-height: 300px;
      background-color: #fff;
      box-shadow: rgba(0, 21, 41, 0.12) 0 1px 2px;
      border-radius: 3px;
      margin-top: 40px;
      padding: 25px;
      font-size: 16px;

      & .mes {
        width: 100%;
        position: relative;
        margin-bottom: 25px;

        & > span {
          font-size: 20px;
        }
      }

      & .fail-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px;
        background: #fafafa;

        & > div {
          border: 1px solid #ebeef5;
          border-right: 0;
        }

        & > div:last-child {
          border-right: 1px solid #ebeef5;
        }
      }

      & .table-box {
        width: 100%;
        position: relative;

        & .row {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 40px;

          & > div {
            border-bottom: 1px solid #ebeef5;
            border-left: 1px solid #ebeef5;
          }

          & > div:last-child {
            border-right: 1px solid #ebeef5;
          }
        }
      }
    }

    & .mask {
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;

      &.active {
        visibility: visible;
        opacity: 1;
      }

      &.active .photo-box {
        // animation: fadeInUp 1s ease-in-out;
      }

      & .center {
        position: relative;
        width: 100%;
        height: 100%;

        & .save-box {
          width: 100%;
          min-width: 1200px;
          height: 50px;

          & .save-btn {
            width: 110px;
            height: 35px;
            border-radius: 6px;
            background: $info;
            cursor: pointer;
            transform: translate(-20px, 10px);

            & > span {
              font-size: 17px;
              letter-spacing: 2px;
              color: #fff;
            }
          }
        }

        & .photo-box {
          width: 900px;
          height: 650px;
          padding: 20px;
          margin: auto;
          overflow: scroll;

          & .photo-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            & .photo {
              width: 230px;
              height: 280px;
              padding: 10px;
              margin-bottom: 50px;
              background: #fff;
              border-radius: 4px;
              box-shadow: rgba(0, 21, 41, 0.12) 0 2px 6px;

              & .prize-name {
                width: 100%;
                height: 50px;

                & > span {
                  font: 25px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
                  font-weight: bold;
                  color: rgba(0, 0, 0, 0.65);
                }
              }

              & .qrcode-box {
                width: 100%;
                height: 200px;

                & .qrcode {
                  width: 200px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}
