.display {
  & .header {
    height: 90px;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 110px;
    background-color: #fff;

    & .middle {
      min-width: 1200px;
      width: 95%;

      & .orz-name {
        font-size: 26px;
        font-weight: 550;
        color: #34495e;
      }

      .search-wrap {
        width: 500px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: all 0.3s ease-in-out;

        &.active {
          border-color: #66afe9;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        & .search-ipt {
          height: 100%;
          flex: 9;
          padding: 10px;
          border-radius: 4px;
          font-size: 15px;
          color: #34495e;
        }

        & .search-btn {
          height: 100%;
          flex: 1;
          cursor: pointer;

          & > i {
            width: 22px;
            height: 22px;
            background-image: url('../../assets/search.png');
          }
        }
      }

      & .sign-out-btn {
        width: 116px;
        height: 35px;
        border-radius: 6px;
        border: 1px solid #d9d9d9;
        color: rgba(0, 0, 0, 0.65);
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        & > span {
          font-size: 16px;
        }

        &:hover {
          color: #40a9ff;
          border-color: #40a9ff;
        }
      }
    }
  }

  & .main {
    position: relative;

    & .create {
      position: absolute;
      top: -75px;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 45px;
      background-image: url('../../assets/add.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer;
    }

    & .section {
      width: 900px;
      margin: auto;

      & .sec-row {
        margin-bottom: 20px;
        flex-wrap: wrap;

        & > div {
          width: 230px;
          height: 230px;
          border-radius: 4px;
          box-shadow: rgba(0, 21, 41, 0.12) 0 2px 6px;
          margin-right: 103px;
          margin-bottom: 50px;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover {
            transform: translateY(-10px);
            box-shadow: rgba(0, 21, 41, 0.12) 0 20px 25px;
          }
        }

        & > div:nth-child(3n) {
          margin-right: 0;
        }

        & .ac-box {
          padding: 15px;
          background-color: #fff;

          & .ac-top {
            width: 100%;

            & .state {
              font-size: 20px;
              color: #34495e;
            }

            & .qrcode {
              width: 25px;
              height: 25px;
              background-image: url('../../assets/qrcode.png');
            }
          }

          & .ac-middle {
            width: 100%;
            height: 150px;

            & .ac-name {
              font-size: 20px;
              font-weight: bold;
              color: #34495e;
              margin-bottom: 10px;
            }

            & .ac-create-time {
              font-size: 16px;
              text-align: center;
            }
          }

          & .ac-bottom {
            width: 100%;
            transform: translateY(-5px);

            & > div {
              width: 75px;
              height: 30px;
              border-radius: 6px;
              border: 1px solid #d9d9d9;
              color: rgba(0, 0, 0, 0.65);
              cursor: pointer;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: #40a9ff;
                border-color: #40a9ff;
              }

              & > span {
                font-size: 14px;
              }
            }
          }
        }
      }

      & .mask {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;

        &.active {
          visibility: visible;
          opacity: 1;
        }

        &.active .photo-box {
          // animation: fadeInUp 1s ease-in-out;
        }

        & .center {
          position: relative;
          width: 100%;
          height: 100%;

          & .save-box {
            width: 100%;
            min-width: 1200px;
            height: 50px;

            & .save-btn {
              width: 110px;
              height: 35px;
              border-radius: 6px;
              background: $info;
              cursor: pointer;
              transform: translate(-20px, 10px);

              & > span {
                font-size: 17px;
                letter-spacing: 2px;
                color: #fff;
              }
            }
          }

          & .photo-box {
            width: 900px;
            height: 650px;
            padding: 20px;
            margin: auto;
            overflow: scroll;

            & .photo-list {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              flex-wrap: wrap;

              & .photo {
                width: 230px;
                height: 280px;
                padding: 10px;
                margin-bottom: 50px;
                background: #fff;
                border-radius: 4px;
                box-shadow: rgba(0, 21, 41, 0.12) 0 2px 6px;

                & .prize-name {
                  width: 100%;
                  height: 60px;

                  & > span {
                    font: 25px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.65);
                  }
                }

                & .qrcode-box {
                  width: 100%;
                  height: 160px;

                  & .qrcode {
                    width: 160px;
                    height: 160px;
                  }
                }

                & .acname {
                  margin-top: 15px;

                  & > span {
                    font: 16px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
                    color: rgba(0, 0, 0, 0.65);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
